*.in
*.txt
*.csv
*.rlslp
*.log
*.out
*.png
*_queries
*.lz77
*.slp-pruned
*.prune_slp
*.slg
*.slp
recomp
test
!test/
env
genqueries
!genqueries/
bench
!bench/
prune
lz_to_grammar
convert 
*.slp_prune
text_to_lz
bm-compression
!issues_assumptions.txt
!tc.txt
!logs/**/*.log
